/node_modules
/dw.json.example
/dw.json
/app_storefront_core/cartridge/static/default/js/app.js.map
/app_storefront_core/cartridge/static
/.DS_Store
/app_storefront_core/cartridge/static/default/css/style.css
/app_storefront_core/cartridge/static/default/js/app.js
/app_storefront_core/cartridge/static/default/js/app.js.map
/app_storefront_core/cartridge/static/fr_FR/css/style.css
/app_storefront_core/cartridge/static/it_IT/css/style.css
/app_storefront_core/cartridge/static/ja_JP/css/style.css
/app_storefront_core/cartridge/static/zh_CN/css/style.css

/link_braintre_custom_tatcha_us/node_modules
/link_braintree/node_modules
/plugin_ritualfinder/node_modules
/plugin_ritualfinder/cartridges
/link_afterpay_custom_tatcha_us/node_modules
/storefront-reference-architecture/cartridges
/storefront-reference-architecture/node_modules

/int_singlepagecheckout/cartridge/static
/int_singlepagecheckout/cartridge/static/default/css/
/int_singlepagecheckout/cartridge/static/default/css/bootstrap-checkout.css
/int_singlepagecheckout/cartridge/static/default/css/tatcha-extension-checkout.css