
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";
@import "tatcha-custom";
@import "mixins/common";
@import "functions/common";
.giftcard-detail {
  &__left {
    max-width: 673px;
  }
  &__right {
    max-width: 680px;
  }
  &__product-name {
    font: {
        weight: 400;
        size: rem-calc(18);
        family: "minion-pro", serif;
    }
    line-height: 21px;
    text-transform: uppercase;
    display: block;
    @include media-breakpoint-up(md) {
        font-size: rem-calc(28);
        line-height: 34px;
    }
  }
  &__product-subtitle {
    font: {
      weight: 300;
      size: rem-calc(14);
    }
    display: block;
    text-transform: none;
    line-height: 20px;
    margin-top: 0.8rem;
    @include media-breakpoint-up(md) {
      font-size: rem-calc(16);
      line-height: 24px;
      margin-top: 0.5rem;
    }
  }
  &__t-c-link {
    text-decoration: underline;
    font-weight: normal;
    color: $black;
    font-size: rem-calc(14);
    &:hover {
      color: $black;
      text-decoration: none;
    }
    @include media-breakpoint-up(md) {
      font-size: rem-calc(16);
    }
  }
}