
/*
@mixin animated {
  transition: 0.2s all ease-in-out;
}

label.float-label {
  @include animated;
  position: absolute;
  opacity: 0;
  left: 15px;
  top: $form-padding/2;
  z-index: -1;
  &.input--filled {
  	z-index: 999;
    font-size: 14px;
    font-weight:600;
    color: $gray-700;
    opacity: 1;
    & + .form-control {
      padding-top: $form-padding + 5;
      padding-bottom: $form-padding - 10;
    }
  }
}*/

.modal-header{
	margin:0 !important;
	.close{
		padding: 0.5rem 1rem;
	    margin: -0.2rem;
	}
}
.button-spec{
  font-size: 14px;
  height: 45px;
  color: $white;
  font-weight: 600;
}

.form-font-spec{
  color: $tatcha-luminous;
  font-size: $font-size-base;
  padding: 25px 0 25px 0;
  margin: 0 auto;
}

.btn-outline-spec{
  border-color: $form-facebook-button-color;
  color:$form-facebook-button-color;
  height:37px;
}
.btn-outline-spec:hover {
  background-color: $white;
  border-color: $form-facebook-button-color;
  color:$form-facebook-button-color;
  text-decoration: none;
  }


.form-box{
  border-top: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;
  padding:20px 0 20px 0;
}

.close-spec{
  color: $text-black;
}

.modal-header-spec{
  border-bottom: none;
  padding: 20px;
}

.modal-title-spec{
  margin:0 auto;
  padding-top:25px;
  font-size: 15px;
  @include media-breakpoint-up(md) {
    font-size: 18px;
  }
}

.modal-body-spec{
  padding: 10px 0 10px 0;
  margin: 0 15px 0 15px;

  @include media-breakpoint-up(md) {
    margin: 0 35px 0 35px;
  }
  @include placeholder {
    font-style: normal;
    font-weight: $font-weight-normal;
    font-size: 16px;
  }
}
.form-control-spec{
  font-size: $font-size-base;
}

.create-account-link-container{
  padding: 1rem;
  text-align: center;
  .create-account-link{
    color: $primary;
    cursor: pointer;
  }
}
