@import "tatcha-myaccount-common";
@import "tatcha-profileandlogin";

.breadcrumb-container {
    background-color: #F7F9FA;
}
#myaccount-breadcrumb {
	background-color: #f7f9fa;
	margin-bottom: 0;
	padding: 8px 0px;
    line-height: 18px;
	li {
		 display: inline-block;
	}
	a {
		color: #495257;
	    text-transform: uppercase;
	    font-size: 12px;
	    text-decoration: none;
	}
}

.container-fluid > .breadcrumb.container {
    padding: 8px 0px; }
    @include media-breakpoint-up(lg) {
      .container-fluid > .breadcrumb.container {
        padding: 8px 15px;
    }
  }

