node_modules/
cartridges/storefront_tatcha_us/cartridge/static
coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
demo_data_sfra/
demo_data_sfra.zip
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.iml
.idea
test/acceptance/report
test/integration/config.json
/cartridges/storefront_tatcha_us/cartridge/static/default/css/
/cartridges/storefront_tatcha_us/cartridge/static/default/js/
package-lock.json
