.afterpay-express-btn {
	background-color: #000;
	height: 45px;
}
.afterpay-express-minibag-button-span {
	text-transform: none;
	color: #fff !important;
}
.afterpay-express-button-minibag{
	background-color: #000;
}
.afterpay-express-button-minibag:hover {
	background-color: #000 !important;
	color: #fff !important;
}